// variables
$background-color: rgb(44, 44, 44);
%overall-divs {
  background-color: $background-color;
  height: 100vh;
  width: 100vw;
}

%center-things {
  display: flex;
  align-items: center;
  justify-content: center;
}

%background-boxes {
  background-color: black;
  opacity: .8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}

.header {
  grid-area: headera;
  display: flex;
  justify-content: flex-end;
}

.navigation {
  color: white;
  margin-left: 1%;
  margin-top: 1%;
  font-size: 1.4em;
}
.navigationTitle {
  margin-bottom: 0;
  margin-top: 1%;
}

.navigation:hover .navigationTitle{
  opacity: .4;
}

.navigation-dropdown {
  display: none;
}

.navigation:hover .navigation-dropdown {
  @extend %background-boxes;
  flex-direction: column;
  align-items: flex-start;
  width: 8vw;
  animation-name: navBarMaker;
  animation-duration: .3s;
}

.navigation:hover .links{
  animation-name: navBarInvisible;
  animation-duration: .32s;
}

.links {
  text-decoration: none;
  font-size: 1.4em;
  margin-top: 2%;
  color: white;
  opacity: .8;
}

.links:hover {
  opacity: 1;
}

.hamburgerBar {
  grid-area: navBar;
  margin-left: 1%;
}

.clockBox {
  @extend %background-boxes;
  margin-right: 1%;
  width: 15vw;
}

.clock {
  @extend %center-things;
  color: white;
}

.title {
  font-size: 2em;
  grid-area: title;
}

.content {
  grid-area: contenta;
  @extend %center-things
}

.overallDiv {
  @extend %overall-divs;
  display: grid;
  grid-template-rows: 1% 5% 94%;
  grid-template-columns: 45vw 10vw 45vw;
  grid-template-areas: 
    "none none none"
    "navBar title headera"
    "contenta contenta contenta"
    ;
}

@keyframes navBarMaker {
  0% {
    height: 0vh;
  }
  100% {
    height: 25vh;
  }
}

@keyframes navBarInvisible {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navBarTitleDim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}